@charset "UTF-8";
@media (min-width: 320px) {
  /* Définition des variables */
  /*Définition des mixins*/
  h1 h2 h3 {
    font-family: 'Roboto', sans-serif; }

  h2 {
    margin: 0;
    padding: 40px 0% 10px 20px; }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    margin: 0; }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .header-logo {
      height: 30px;
      width: 100%;
      padding: 9px 0px 9px 0px;
      object-fit: contain;
      box-shadow: 0px 3px 2px #7E7E7E36;
      background-color: #FFFFFF;
      position: fixed;
      top: 0;
      margin-top: -4px;
      z-index: 1; }
    header .header-location {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 10px;
      align-items: center;
      background-color: #EAEAEA;
      margin-top: 45px; }

  .header-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    height: 280px;
    width: 80%; }
    .header-description .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 250px;
      border: none;
      border-radius: 10px 10px 10px 10px;
      border-bottom: 30px;
      position: relative;
      height: 40px;
      width: 180px;
      box-shadow: 0px 1px 6px #7E7E7E;
      border-radius: 20px 20px 20px 20px;
      background-color: #686868;
      background: linear-gradient(0deg, #9956dc, #ff79da);
      color: #FFFFFF; }

  nav {
    background-color: #FFFFFF;
    box-shadow: 0px 7px 4px #7E7E7E36; }

  .nav-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 280px;
    width: 100%;
    z-index: 1;
    padding-bottom: 30px;
    margin-top: -10px; }
    .nav-options .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 250px;
      border: none;
      border-radius: 10px 10px 10px 10px;
      border-bottom: 30px;
      position: relative;
      box-shadow: 2px 4px 10px #7E7E7E; }
      .nav-options .btn .number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9356DC;
        height: 24px;
        width: 24px;
        border-radius: 100px;
        color: #FFFFFF;
        position: absolute;
        left: -13px; }
      .nav-options .btn .icone {
        margin-right: 15px; }
    .nav-options .icone :hover {
      color: #9356DC; }

  .restaurant {
    display: flex;
    flex-direction: column; }

  .restaurant-org {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .restaurant-org a {
      text-decoration: none; }
      .restaurant-org a .card {
        height: 280px;
        position: relative;
        margin: 0px 15px 0px 15px; }
        .restaurant-org a .card .card-badge {
          background-color: #99e2d0;
          color: #1b6150;
          padding: 8px;
          border-radius: 2px;
          position: absolute;
          top: 16px;
          right: 12px; }
        .restaurant-org a .card .upside-block img {
          width: 100%;
          height: 161px;
          border-radius: 20px 20px 0px 0px;
          object-fit: cover; }
        .restaurant-org a .card .downside-block {
          display: flex;
          align-items: center;
          height: 80px;
          padding-left: 10px;
          border-radius: 0px 0px 20px 20px;
          background-color: white; }
          .restaurant-org a .card .downside-block .card-footer {
            width: 80%; }
            .restaurant-org a .card .downside-block .card-footer h3, .restaurant-org a .card .downside-block .card-footer p {
              margin: 0;
              margin-bottom: 5px;
              color: black; }
          .restaurant-org a .card .downside-block .heart {
            font-size: 1.5em;
            color: black;
            border: none;
            background-color: #FFFFFF;
            position: relative; }
            .restaurant-org a .card .downside-block .heart .fa-solid {
              position: absolute;
              font-size: 10px;
              right: 13px;
              bottom: 10px;
              background-clip: text;
              color: transparent;
              background-image: linear-gradient(#9956dc, #ff79da);
              opacity: 0;
              transition: transform 200ms; }
              .restaurant-org a .card .downside-block .heart .fa-solid:hover {
                opacity: 1;
                transform: scale(2.9); }

  footer {
    background-color: #353535; }
    footer .footer-title {
      color: #FFFFFF;
      font-family: 'Shrikhand', serif;
      margin: 0; }
    footer .footer-org {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 162px;
      background-color: #353535;
      color: white;
      padding-left: 10px;
      margin-top: -16px;
      font-size: 0.8em;
      padding: 10px 0px 15px 15px; }
      footer .footer-org a {
        color: #FFFFFF;
        text-decoration: none; } }

/*# sourceMappingURL=index_mobile.css.map */
