@charset "UTF-8";
@media (min-width: 320px) {
  /* Définition des variables */
  a {
    text-decoration: none; }

  h3 {
    font-size: 1em; }

  p {
    font-size: 0.9em; }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF; }
    header .header-return-homepage {
      display: flex;
      align-items: center;
      padding-left: 15px;
      font-size: 1em;
      width: 15%;
      width: 30px;
      color: #353535; }
    header .header-logo {
      height: 30px;
      width: 85%;
      padding: 10px 0px 10px 0px;
      object-fit: contain; }

  .restaurant-picture {
    width: 100%;
    height: 225px;
    margin-top: 52px;
    object-fit: cover; }

  .restaurant {
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 0px 0px;
    background-color: #f6f6f6;
    position: relative;
    top: -34px;
    padding: 0px 10px 0px 10px;
    margin-bottom: -34px; }
    .restaurant h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: 'Shrikhand', serif;
      font-size: 1.5em;
      margin-top: 35px;
      padding-left: 10px;
      position: relative; }
      .restaurant h1 .heart-menu {
        margin-left: 30px;
        position: relative; }
        .restaurant h1 .heart-menu .fa-solid {
          position: absolute;
          font-size: 10px;
          background-clip: text;
          color: transparent;
          background-image: linear-gradient(#9956dc, #ff79da);
          opacity: 0;
          transition: transform 200ms;
          right: 7px;
          top: 13px; }
          .restaurant h1 .heart-menu .fa-solid:hover {
            opacity: 1;
            transform: scale(2.9); }
    .restaurant .menu-entree {
      height: 335px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      animation: appear 1.5s; }
      .restaurant .menu-entree .underline {
        width: 50px;
        height: 4px;
        background-color: #99e2d0;
        position: absolute;
        top: 40px;
        left: 10px; }
      .restaurant .menu-entree h2 {
        padding-left: 10px;
        font-size: 1.2em; }
      .restaurant .menu-entree .dishes {
        display: flex;
        height: 60px;
        width: 100%;
        border: none;
        border-radius: 10px 10px 10px 10px;
        border-bottom: 30px;
        background-color: white;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden; }
        .restaurant .menu-entree .dishes .dishes-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 10px;
          width: 85%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
          .restaurant .menu-entree .dishes .dishes-description h3 {
            margin: 0px 0px 0px 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
          .restaurant .menu-entree .dishes .dishes-description p {
            margin: 2px 0px 0px 0px;
            text-overflow: ellipsis;
            overflow: hidden; }
        .restaurant .menu-entree .dishes .dishes-price {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-weight: bold;
          width: 130px;
          padding-right: 30px; }
        .restaurant .menu-entree .dishes:hover .dishes-checkbox {
          transition: 500ms;
          margin-right: 0px; }
        .restaurant .menu-entree .dishes .dishes-checkbox {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #99E2D0;
          width: 75px;
          border-radius: 0% 15% 15% 0%;
          margin-right: -90px; }
          .restaurant .menu-entree .dishes .dishes-checkbox i {
            font-size: 25px;
            color: #FFFFFF; }
    .restaurant .menu-e, .restaurant .menu-p, .restaurant .menu-d {
      height: 265px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      animation: appear 1s; }
      .restaurant .menu-e .underline, .restaurant .menu-p .underline, .restaurant .menu-d .underline {
        width: 50px;
        height: 4px;
        background-color: #99e2d0;
        position: absolute;
        top: 40px;
        left: 10px; }
      .restaurant .menu-e h2, .restaurant .menu-p h2, .restaurant .menu-d h2 {
        padding-left: 10px;
        font-size: 1.2em; }
      .restaurant .menu-e .dishes, .restaurant .menu-p .dishes, .restaurant .menu-d .dishes {
        display: flex;
        height: 60px;
        width: 100%;
        border: none;
        border-radius: 10px 10px 10px 10px;
        border-bottom: 30px;
        background-color: white;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden; }
        .restaurant .menu-e .dishes .dishes-description, .restaurant .menu-p .dishes .dishes-description, .restaurant .menu-d .dishes .dishes-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 10px;
          width: 85%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
          .restaurant .menu-e .dishes .dishes-description h3, .restaurant .menu-p .dishes .dishes-description h3, .restaurant .menu-d .dishes .dishes-description h3 {
            margin: 0px 0px 0px 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
          .restaurant .menu-e .dishes .dishes-description p, .restaurant .menu-p .dishes .dishes-description p, .restaurant .menu-d .dishes .dishes-description p {
            margin: 2px 0px 0px 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
        .restaurant .menu-e .dishes .dishes-price, .restaurant .menu-p .dishes .dishes-price, .restaurant .menu-d .dishes .dishes-price {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-weight: bold;
          width: 130px;
          padding-right: 40px; }
        .restaurant .menu-e .dishes:hover .dishes-checkbox, .restaurant .menu-p .dishes:hover .dishes-checkbox, .restaurant .menu-d .dishes:hover .dishes-checkbox {
          transition: 500ms;
          margin-right: 0px; }
        .restaurant .menu-e .dishes .dishes-checkbox, .restaurant .menu-p .dishes .dishes-checkbox, .restaurant .menu-d .dishes .dishes-checkbox {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #99E2D0;
          width: 75px;
          border-radius: 0% 15% 15% 0%;
          margin-right: -90px; }
          .restaurant .menu-e .dishes .dishes-checkbox i, .restaurant .menu-p .dishes .dishes-checkbox i, .restaurant .menu-d .dishes .dishes-checkbox i {
            font-size: 25px;
            color: #FFFFFF; }
    .restaurant .menu-e {
      animation-delay: 0.2s; }
    .restaurant .menu-p {
      animation-delay: 0.4s; }
    .restaurant .menu-d {
      animation-delay: 0.7s; }
  @keyframes appear {
    0% {
      transform: translateY(50%);
      opacity: 0; }
    100% {
      transform: translateY(0%);
      opacity: 1; } }
    .restaurant .order {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 35px 0px 35px 0px; }
      .restaurant .order .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 250px;
        border: none;
        border-radius: 10px 10px 10px 10px;
        border-bottom: 30px;
        position: relative; }
      .restaurant .order .btn-purple {
        height: 40px;
        width: 180px;
        box-shadow: 0px 1px 6px #7E7E7E;
        border-radius: 20px 20px 20px 20px;
        background-color: #686868;
        background: linear-gradient(0deg, #9956dc, #ff79da);
        color: #FFFFFF; }
        .restaurant .order .btn-purple:hover {
          background: linear-gradient(0deg, rgba(150, 86, 220, 0.9), #ff79da);
          box-shadow: 0px 1px 12px #7E7E7E; }

  footer {
    background-color: #353535;
    height: 180px; }
    footer .footer-title {
      color: #FFFFFF;
      font-family: 'Shrikhand', serif;
      font-size: 1.2em; }
    footer .footer-org {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 162px;
      background-color: #353535;
      color: white;
      padding-left: 15px;
      font-size: 0.8em; }
      footer .footer-org a {
        color: #FFFFFF;
        text-decoration: none; } }

/*# sourceMappingURL=restaurants_mobile.css.map */
