@media (min-width:1024px)  {

    /* Définition des variables */
$backgroundGrey:#F6F6F6;
$functionningPurple:#9356DC;
$footerDarkGrey:#353535;
$badgeGreenLight:#99E2D0;
$badgeGreenDark: #008766;
$colorWhite:#FFFFFF;

@mixin underLine {
    width: 50px;
    height: 4px;
    background-color: #99e2d0;
    position:absolute;
    top: 40px;
    left: 10px;  
    }

    @mixin standardButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 250px;
        border: none;
        border-radius: 10px 10px 10px 10px;
        border-bottom: 30px;
        position: relative;
    }

    @mixin purpleButton {
        height: 40px;
        width: 180px;
        box-shadow: 0px 1px 6px #7E7E7E;
        border-radius: 20px 20px 20px 20px ;
        background-color: #686868;
        background: linear-gradient(0deg,rgba(153,86,220,1),rgba(255,121,218,1));
        color: $colorWhite;
        &:hover{
            background: linear-gradient(0deg,rgba(150,86,220,0.9),rgba(255,121,218,1));
            box-shadow: 0px 1px 12px #7E7E7E;
        }
    }

a {
    text-decoration: none;
}
h3 {
    font-size: 1em;
}
p {
    font-size: 0.9em;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: $colorWhite;

    .header-return-homepage { 
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 1em;
        width: 15%;
        width: 30px;
        color:  #353535;
    }

    .header-logo {
        height: 30px;
        width: 85%;
        padding: 10px 0px 10px 0px ;
        object-fit: contain;
    } 
}
.restaurant-picture {
     width: 100% ;
     height:225px;
     object-fit: cover;
}
.restaurant{
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 0px 0px ;
    background-color:#f6f6f6;
    position: relative;
    top: -34px;
    padding: 0px 10px 0px 10px;
    margin-bottom: -18px;
    margin: 0% 10% 0% 10%;

    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Shrikhand', serif;
        font-size: 1.5em;
        margin-top: 35px;
        padding-left: 10px;
    
        .heart {
            margin-left : 30px
        }
        
    }
    .menu-entree {
        
        height: 335px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin: 0% 10%;
        

        .underline {
            @include underLine();
        }

        h2 {
            padding-left: 10px;
            font-size: 1em;
            font-weight: extra-bold;
        }

        .dishes{
            display: flex ;
            height: 60px;
            width: 100%;
            border: none;
            border-radius: 10px 10px 10px 10px ;
             border-bottom: 30px;  
             background-color: white;
             box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,.1);
            
            .dishes-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                width: 85%;
                h3 {
                    margin : 0px 0px 0px 0px;
                }
                p {
                    margin : 2px 0px 0px 0px;
                }
            }
        }


    }
    .menu {
    
        height: 265px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin :0% 10%;

        .underline {
            @include underLine();
        }

        h2 {
            padding-left: 10px;
            font-size: 1.2em;
        }

        .dishes{
            display: flex ;
            height: 60px;
            width: 100%;
            border: none;
            border-radius: 10px 10px 10px 10px ;
             border-bottom: 30px;  
             background-color: white;
             box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,.1);
            
            .dishes-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                width: 85%;
                h3 {
                    margin : 0px 0px 0px 0px;
                }
                p {
                    margin : 2px 0px 0px 0px;
                }
            }
        }

    }

.order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 35px 0px 35px 0px;

    .btn {
        @include standardButton();
    }
    .btn-purple {
        @include purpleButton();
    }
}
}
footer {
    background-color: $footerDarkGrey;
    display: flex;
    justify-content: flex-end;
    height: 180px;
    .footer-title {
        color: $colorWhite;
        font-family: 'Shrikhand', serif;
        margin: 0
    }
    .footer-org {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        width: 585px;
        height: 80px;
        padding-right: 15px;
        margin-top: 0px;
        
        a {
            color: $colorWhite;
            text-decoration: none ;
    
        }
    }
    }  
}


